ion-content {
  --background: url('/public/assets/allBoys.jpg') no-repeat center center / cover;
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  --border-color: transparent;
}

h1, h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
}
